# Ignore any component build artifacts
**/build/
**/target/

# This is a repository of components, expectation is that lock files will not be committed
**/Cargo.lock
# Exception: track the ec workspace lock file (binary crate needs reproducible builds)
!ec/Cargo.lock
